/* --- Universal -- */
body {
    min-height: 500px;
    background: #1CA3C4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.section-padding {
    padding: 50px 0 50px;
}

.sectionHeader {
    margin-top: 0;
    font-size: 2em;
    display: table-cell;
    padding-left: 15px;
    color: #4A4A4A;
}

.sectionSerif {
    font-style: italic;
    color: #CECECE;
    font-size: 1.35em;
}

.sectionText {
    color: #4A4A4A;
    font-size: 1.35em;
    text-align: left;
}

.sectionLines {
    display: table-cell;
    vertical-align: middle;
    float: left;
}

/* --- Typography -- */
body {
    font-family: 'Open Sans', sans-serif;
}

.sectionSerif {
    font-family: 'Noto Serif', serif;
}

#heroText {
    font-family: 'Varela Round', sans-serif;
}

#heroSubtext {
    font-family: 'Lato', sans-serif;
}

/* --- hero -- */
/* nav */
#logo {
    margin: 0 auto;
}

#navLinks {
    display: none;
    margin-top: 25px;
}

#navLinks a {
    font-size: 1em;
/*    color: #7CC7D8;*/
    font-size: 1.25em;
    margin: 0 15px 0 15px;
}

#heroText {
    color: white;
    font-size: 2.75em;
    margin-bottom: 0;
}

#heroSubtext {
    color: white;
    font-weight: 700;
    
    margin-top: 1px;  
}

#heroDesc {
    font-family: 'Noto Serif', serif;
    color: #00303B;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1.3em;
}

.sponsorBtnLink {
    background: #7CC7D8;
    border-radius: 40px;
    color: white;
    
    outline: none;
    transition: all 0.3s;
    
    font-size: 1.1em;
    margin-top: 25px;
    padding: 7px 18px 7px 18px;
}

.sponsorBtnLink:hover {
    color: white;
    background: #75BFD0;
}

.sponsorBtnLink:focus {
    color: white;
}

#hero {
    height: 468px;
    min-height: 468px;
    
    background: #1CA3C4;
    
    padding-top: 40px;
    padding-bottom: 40px;

}

.fadeFirst {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.fadeSecond {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1s;
    animation-delay: 1s;
}

.heroContent {
    margin-top: 75px;
    padding: 0 10px 0 10px;
}

/* --- about --*/
#about {
    background: white;
}

#about .sectionSerif {
    margin-top: 0;
    margin-bottom: 40px;
}

.exhibits {
    margin-bottom: 40px;
}

#winningLines {
    float: left;
}

#winningList {
    list-style: none;
    margin: 0;
}

#winningList li {
    margin: 17px 0 17px 0;
}

/* --- sponsor --*/
#sponsor {
    background: #F4F4F4;
}

.linesWordContainer {
    display: table;
    margin-bottom: 50px;
}

#sponsorApply {
    margin-bottom: 20px;
}

/* --- three --*/
#team {
    background: #484848;
}

#team .sectionHeader,
#team .sectionText {
    color: white;
}

#team .sectionSerif {
    margin: 40px 0 20px;
}

.teamPic {
    margin: 20px 0px 20px;
}

#teambox img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
    border-radius: 50%;
}
#teambox img:hover{
    -webkit-filter: grayscale(0%);
    /*filter: grayscale(0%); */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/* --- Media Queries -- */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .sponsorBtnLink {
        margin-top: 40px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .sectionHeader {
        font-size: 2.6em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #heroText b {
        font-size: 1.5em;
    }
    
    #heroSubtext {
        font-size: 2.5em;
    }
    
    #navLogo {
        position: absolute;
        left: 7%;
        top: 8%;
    }
    
    #navLinks {
        display: block;
        position: absolute;
        right: 6%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {}

/* nav effect */
.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
    position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.975);
	-moz-transform: scale(0.975);
	transform: scale(0.975);
	opacity: 0;
}