---
layout: default
height: 500px
text: Transcend
subtext: <br>UW-Madison's hub for creative thinking, entrepreneurship, and innovation.
desc: Competition signups are open!
heroExtra: <a href="https://docs.google.com/forms/d/e/1FAIpQLSdgZqOQnfeDi-jgnGKCn0a1baIA7sxF4cHUCdCQSybZi69ugg/viewform" class="btn sponsorBtnLink animated fadeIn fadeSecond">REGISTER FOR TRANSCEND MADISON</a></div>
---
<section class="text-center section-padding about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="linesWordContainer">
          {% include sectionLines.html h="What is Transcend?" %}
        </div>
        <p class="sectionSerif"> Our core concept is to inspire the Madison student community to create businesses and innovate ideas that will change the world.</p>
        <br>
        <p class="sectionText"><b>Transcend</b>
          is a student organization focused on providing invaluable resources
          and opportunities to students on campus who are interested in
          creating their own ventures. We do not limit our member’s ideas to
          tech, mobile applications or purely entrepreneurial ventures;
          instead we encourage collaboration between majors and focuses which
          we hope inspires start up ideas that can change the world. Our
          utility comes from the vast network of alumni and professionals
          from the Madison area and beyond which we tap regularly for inspiring
          talks and informative workshops that our members can utilize to expand
          their knowledge beyond their curriculum and hopefully apply it towards
          innovation. Our impact goes beyond the resources we provide and the
          knowledge we impart to our members.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="text-center section-padding" id="join">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="linesWordContainer">
          {% include sectionLines.html h="Join Transcend" %}
        </div>
        <h3 id="sponsorApply">Fill out this form to join our mailing list!</h3>

        <!-- REGISTRATION TYPEFORM -->
        {% include typeform.html url="https://transcend1.typeform.com/to/T43WVj" %}

      </div>
    </div>
  </div>
</section>

<section class="text-center section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="linesWordContainer">
          {% include sectionLines.html h="The Team" %}
        </div>
        <p class="sectionText"><i>Transcend Engineering</i> is a student org dedicated to driving student innovation, in any major. We act as a student project hub on campus - providing resources and mentorship for the doers on campus that are creating inventions, apps, startups, and more.
        </p>
        <p class="sectionSerif">If innovative ideas keep you up at night, Transcend is the club for you.</p>
      </div>
    </div>
    <!-- TEAM IMAGES -->
    {%  include team.html %}
  </div>
</section>
