---
title: Live Stream
---
<!doctype html>
<html class="no-js">

{% include head.html %}

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="text-center" id="hero" style="height:380px;">
        {% include nav.html %}
        <div class="heroContent">
            <!--TODO is this bootstrap column well formatted?-->
            <div class="col-md-8 col-md-offset-2"><h3 id="heroText" class="animated fadeIn fadeFirst">Live Stream</h3>
            <p id="heroDesc" class="animated fadeIn fadeFirst">See all the behind-the-scenes action here</p></div>
        </div>
    </section>

    <section class="text-center section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <p class="sectionSerif">Please contact <a href="mailto:transcenduw@gmail.com">transcenduw@gmail.com</a> with any questions or concerns</p>
                </div>
            </div>
            <div class="row">
             <h4 >Simply click the button below to open the Periscope Stream. </h4>
             <br>
              <script>window.twttr=function(t,e,r){var n,i=t.getElementsByTagName(e)[0],w=window.twttr||{};return t.getElementById(r)?w:(n=t.createElement(e),n.id=r,n.src="https://platform.twitter.com/widgets.js",i.parentNode.insertBefore(n,i),w._e=[],w.ready=function(t){w._e.push(t)},w)}(document,"script","twitter-wjs")</script><a href="https://www.periscope.tv/witranscend" class="periscope-on-air" data-size="large">@WITranscend</a>
            
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>
