---
layout: default
title: Competition - Winners
text: 2016 Winners
desc: Congratulations to those that took home awards from our 2016 competition!
logo: img/logo2017.png
---
<section class="text-center section-padding about" id="about">
  <div class="container">
    <div class="row" id="emonix">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="1<sup>st</sup> Place: Emonix" %}
        </div>
        <img class="img-responive img-rounded" src="../img/competition/winners/emonix.JPG" alt="Emonix at Transcend Madison">
        <p class="sectionText">Emonix took home home $7,500 and immediate enrollment into Madworks seed accelerator, an intensive, 10-week program to provide them with the resources, mentorship and $5,000 in capital to take their idea to the next level. Using sensors to moderate the salt applied by water softeners, Emonix cuts the amount of salt dispensed by nearly a quarter, saving in salt, expenses and reducing negative impact on the environment.</p>
      </div>
    </div>
    <div class="row" id="metrecycle">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="2<sup>nd</sup> Place: Metrecycle" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/metrecycle.JPG" alt="Metrecycle at Transcend Madison">
        <p class="sectionText">Metrecycle took home second place and $5,000. The team aims to empower people in developing countries by creating a sustainable business model for those living in crowded spaces to profit from the proper disposal of e-waste. With the proper funding and infrastructure, the team hopes to send a shipping container outfitted for the disassemblement of electronics to crowded, impoverished spaces.</p>
      </div>
    </div>
    <div class="row" id="trumpetToasties">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="3<sup>rd</sup> Place: Trumpet Toasties" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/ttoasties.JPG" alt="Trumpet Toasties at Transcend Madison">
        <p class="sectionText">Third-place and $2,500 went to Trumpet Toasties. When the temperature falls below freezing, the valves in a trumpet freeze. Trumpet Toasties are reusable heating pouches,  they use a mix of sodium and acetate solution to make sure a trumpet player can keep playing, no matter the weather.</p>
      </div>
    </div>
    <div class="row" id="stemyng">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Educational Enterprise: STEMyng" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/STEMyng.JPG" alt="STEMyng at Transcend Madison">
        <p class="sectionText">For the Best Educational Enterprise, sponsored by WCEPS, STEMyng took home $2,000. STEMyng creates physical products and digital courses to teach kids STEM fundamentals.</p>
      </div>
    </div>
    <div class="row" id="pathogenomica">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Prototype and Fan Favorite: Mitometer" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/mitometer.JPG" alt="Mitometer at Transcend Madison">
        <p class="sectionText">Mitometer won $1,000 for both Fan Favorite and Best Prototype. Mitometere developed a pen-shaped device that uses electrodes to scan and measure the level of cancer risk associated with a patch of skin.</p>
      </div>
    </div>
    <div class="row" id="zuntik">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Pitch: Zuntik" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/zuntik.JPG" alt="Zuntik at Transcend Madison">
        <p class="sectionText">Zuntik won $1,000 for Best Pitch. Zuntik is the only app to be awarded a prize. The mobile application connects with local organizations and businesses in a city to display all of the upcoming local community events.</p>
      </div>
    </div>
    <div class="row" id="weightUpSolutions">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Business Model: WeightUp Solutions" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/weight_up.JPG" alt="WeightUp Solutions at Transcend Madison">
        <p class="sectionText">WeightUp Solutions won $1,000 for Best Business Model. WeightUp solutions uses wearable technology to track and monitor reps for workouts. The technology records data for both the athlete and coach to reference.</p>
      </div>
    </div>
    <div class="row" id="projectRedistribute">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Social Enterprise: Project Redistribute" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/proj_redist.JPG" alt="Project Redistribute at Transcend Madison ">
        <p class="sectionText">Project Redistribute, by the student organization Enactus, won $1,000 for Best Social Enterprise. Project Redistribute aims to salvage the leftover food from community restaurants and cafe and deliver it to different food pantries around Madison.</p>
      </div>
    </div>
  </div>
</section>
