---
title: Most Drive Scholarship
height: 380px
text: Most Driven Scholarship
desc: An award given by Transcend to the biggest hustler of the year.
---
<!doctype html>
<html class="no-js">

{% include head.html %}

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include hero.html text=page.text desc=page.desc height=page.height %}
    <section class="text-center section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <section class="sectionText" style="text-align: left; font-size: 16px">
                      <p>
                        Transcend is dedicated to empowering students with hustle, and this means that we should support students, financially and otherwise, with
                         their endeavours regardless of if they fit the University’s curricula. Students should feel that their individual, entrepreneurial efforts
                          do not subtract from their education, but rather bolster it. This scholarship is to support and encourage students that are following their
                           entrepreneurial passions, by easing the financial burden of entrepreneurship.<br>
                      </p>
                      <p>
                        The most deserving candidate will embrace the values which Transcend strives to represent.
                        He or she will be a self-starter, someone who takes advantage of the rich resources of the entrepreneurship
                         community and offers his or her knowledge or skill set to support others when the opportunity arises.
                      </p>
                    </section>
                    <u class="sectionText">Evaluation Criteria</u>
                    <ul class="sectionText" style="text-align: left; font-size: 16px">
                      <li>Demonstrates <em>hustle</em> throughout the school year (students that are present for only one semester may still apply).</li>
                      <li>Actively pursues help from Transcend and other Entrepreneurial resources</li>
                        <ul>
                          <li>
                            <a target="_blank" href="https://docs.google.com/forms/d/1FG7IssF_kJDy79gUYylQhmNgcyfZHAfUhZzUQhHi9Qg/edit">Transcend mentorship program</a>
                          </li>
                          <li>Other student organizations: MadVentures, the Hub, Engineers in Business, Enactus</li>
                        </ul>
                      <li>Participates in events to learn, develop, and promote oneself and one’s projects</li>
                        <ul>
                          <li>Competitions:</li>
                            <ul>
                              <li><a target="_blank" href="transcend.engineering/competition">Transcend Madison</a>, Nest Software Contest, Wisconsin Energy and Sustainability Challenge<a href="#footnotes"><sup>*</sup></a></li>
                            </ul>
                          <li>Lecture Series:</li>
                            <ul>
                              <li>
                                WARF <a target="_blank" href="http://www.warf.org/through-programs-and-events/for-inventors-entrepreneurs-and-researchers/entrepreneurons/entrepreneurons.cmsx>">Entrepreneurons</a>,
                                Weinert <a target="_blank" href="https://bus.wisc.edu/centers/weinert/events/distinguished-entrepreneurs-lunch">Distinguished Entrepreneurs Luncheons</a>,
                                Transcend Startup Tours
                              </li>
                            </ul>
                          <li>Transcend project reviews (for those with active projects)</li>
                        </ul>
                      <li>
                        Is a follower and a leader: Plays an active role in strengthening the Transcend and greater Madison entrepreneurial
                        communities by both seeking help from others and also supporting others’ successes along the way
                       </li>
                    </ul>
                    <p class="sectionSerif">Please contact <a href="mailto:transcenduw@gmail.com">transcenduw@gmail.com</a> with any questions or concerns</p>
                    <hr>
                    <ul class="sectionText" id="footnotes">
                      <li>*winning awards at these competitions does not affect your scholarship evaluation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
