---
title: Calendar
---
<!doctype html>
<html class="no-js">

{% include head.html %}

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="text-center" id="hero" style="height: 380px;">
        {% include nav.html %}   
        <div class="heroContent">
            <!--TODO is this bootstrap column well formatted?-->
            <div class="col-md-8 col-md-offset-2"><h3 id="heroText" class="animated fadeIn fadeFirst">Event Calendar</h3>
            <p id="heroDesc" class="animated fadeIn fadeFirst">All of Madison's entrepreneurial events - aggregated into one, shareable calendar.</p></div>
        </div>
    </section>
    
    <section class="text-center section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <p class="sectionSerif">Check out the official calendar here.</p>
                    <ol class="sectionText">
                      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=transcenduw%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="800" frameborder="0" scrolling="no"></iframe>
                    </ol>
                    
                </div>
            </div>
        </div>
    </section>
    
    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>