/* --- Universal -- */
body {
    min-height: 500px;
    background: #1CA3C4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.section-padding {
    padding: 50px 0 50px;
}

.sectionHeader {
    letter-spacing: -1px;
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
    display: table-cell;
    padding-left: 15px;
    color: #444;
}

.sectionSerif {
    font-style: italic;
    color: #aaa;
    font-size: 1.425em;
    line-height: 1.6;
}

.sectionText {
    color: #444;
    font-size: 1.425em;
    line-height: 1.6;
    text-align: left;
}

.sectionText li {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footnotes {
  font-size: 10px;
}

.sectionLines {
    display: table-cell;
    vertical-align: middle;
    float: left;
}

.rightLine {
  display: none;
  margin-left: -15px;
}

/* --- Typography -- */
body {
    font-family: 'Open Sans', sans-serif;
}

.sectionSerif {
    font-family: 'Noto Serif', serif;
}

#heroText {
    font-family: 'Varela Round', sans-serif;
}

#heroSubtext {
    font-family: 'Varela Round', sans-serif;
}

/* --- hero -- */
/* nav */
#logo {
    margin: 25px auto -25px auto;
}

#navLinks {
    display: none;
    margin-top: 5px;
}


#navLinks ul {
  list-style: none;
}

#navLinks li {
  display: inline-block;
}

#navLinks a {
    font-weight: 400;
    font-size: 1.45em;
    margin: 0 15px 0 15px;
}

#heroText {
    color: white;
    font-size: 3em;
    letter-spacing: -1px;
    margin-bottom: 0;
}

#heroSubtext {
    color: white;
    font-weight: 500;
    
    margin-top: 1px;  
}

#heroDesc {
    font-family: 'Noto Serif', serif;
    color: #00303B;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1.4em;
}

.sponsorBtnLink {
    background: #7CC7D8;
    border-radius: 40px;
    color: white;
    
    outline: none;
    transition: all 0.3s;
    
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.15em;
    margin-top: 25px;
    padding: 17px 32px 17px 32px;
}

.sponsorBtnLink:hover {
    color: white;
    background: #75BFD0;
}

.sponsorBtnLink:focus {
    color: white;
}

#hero {
    height: 380px;
    
    background: #1CA3C4;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

.fadeFirst {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.fadeSecond {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1s;
    animation-delay: 1s;
}

.heroContent {
    margin-top: 75px;
    padding: 0 10px 0 10px;
}

/* --- about --*/
#about {
    background: white;
}

#about .sectionSerif {
    margin-top: 0;
    margin-bottom: 40px;
}

.exhibits {
    margin-bottom: 40px;
}

#winningLines {
    float: left;
}

#winningList {
    list-style: none;
    margin: 0;
}

#winningList li {
    margin: 17px 0 17px 0;
    font-size: 1.3em;
}

#dropdownMenu1{
    color: white;
}
.dropdown-navLinks{
    color: #171D1C;
}
.dropdown-menu{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.dropdown-menu li:hover{
    background-color: transparent;
}

/* --- prizes ---*/
.prize img {
  width: 80%;
  max-width: 300px;
}

.prize h3 {
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: 700;
  color: #444;
}

.prize h4 {
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
}

.prize p {
  text-align: center;
}

/* --- footer --- */
#footer {
  background: #171D1C;
  color: #444;
  padding: 20px;
  padding-bottom: 7px;
}

#uwLogo {
  height: 40px;
  margin: 5px;
  padding-bottom: 5px;
}

/* --- Media Queries -- */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .sponsorBtnLink {
        margin-top: 35px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .sectionHeader {
        font-size: 3em;
    }
  
  .rightLine {
    display: block;
  }
  
  .linesWordContainer {
    margin-left: auto;
    margin-right: auto;
  }
  
  .sectionLines {
    position: relative;
    top: -3px;
  }
}

@media only screen and (min-width: 653px) {
  .sponsorBtnLink {
        margin-top: 40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #heroText b {
        font-size: 1.5em;
    }
    
    #heroSubtext {
        font-size: 2.5em;
    }
    
    #navLogo {
        position: absolute;
        left: 7%;
        top: -35%;
    }
  
    #logo {
        margin: 0 auto;
    }
    
    #navLinks {
        display: block;
        position: absolute;
        right: 6%;
    }
}

/* nav links effect */
.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
    position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.975);
	-moz-transform: scale(0.975);
	transform: scale(0.975);
	opacity: 0;
}

#dropdownMenu1{ 
  background: none;
  border: none;
  outline: 0; 
}
button:active{
  box-shadow: none !important;
}

#navLinks ul li{
  vertical-align: middle;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background: none;
}