<section class="text-center" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 ">
          <p>© <b>Transcend Engineering</b> - a registered student organization at
            <a href="http://www.wisc.edu/" target="_blank"><img id="uwLogo" src="{{"img/uwlogo_web_sm_fl.png" | prepend: site.baseurl }}" alt="University of Wisconsin-Madison logo"></a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul id="footer-links">
            <a href="https://twitter.com/{{site.twitter_username}}">
              <li class="ion-social-twitter"></li>
            </a>
            <a href="https://www.facebook.com/{{site.facebook_username}}">
              <li class="ion-social-facebook"></li>
            </a>
            <a href="mailto:{{site.email_address}}">
              <li class="ion-at"></li>
            </a>
            <a href="/live">
              <li class="ion-ios-videocam"></li>
            </a>
            <a href="/press/Transcend_Press_Kit.zip">
              <li><span style="font-size: 24px;" class="mega-octicon octicon-file-zip"></span></li>
            </a>
            <li style="vertical-align: bottom;"><script async defer src="https://transcendeng.now.sh/slackin.js?"></script></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
