<svg class="sectionLines" width="105px" height="19px" viewbox="0 0 105 19" version="1.1">
	<g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
	<g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
		<g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
		<g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
			<path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
			<circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
		</g>
		</g>
	</g>
	</g>
</svg>
<h2 class="sectionHeader">{{include.h}}</h2>
<svg class="sectionLines rightLine" width="135px" height="19px" viewbox="0 0 105 19" version="1.1">
	<g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
	<g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
		<g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
		<g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
			<path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
			<circle cx="109" cy="7.5" r="7.5"></circle>
		</g>
		</g>
	</g>
	</g>
</svg>