<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1 ">
			<div class="linesWordContainer">
			{% include sectionLines.html h="Our Supporters" %}
			</div>
			<a href="https://www.qualcomm.com/" target="_blank">
				<img height="100px" src="../img/qualcomm.png" alt="Qualcomm"/>
			</a>
			<br><br><br>
			<h3 style="margin-bottom: 50px;">2017 Sponsors</h3>
		</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="http://universityresearchpark.org/" class="s-logo-words">
					<img src="../img/sponsors/wrp.png" alt="University Research Park" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.zendesk.com/" class="s-logo-words">
					<img src="../img/sponsors/zendesk.svg" alt="Zendesk" class="s-logo zendesk">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.engr.wisc.edu/" class="s-logo-words">
					<img src="../img/sponsors/coe.gif" alt="College of Engineering" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.warf.org/" class="s-logo-words">
					<img src="../img/sponsors/warf.jpg" alt="Wisconsin Alumni Research Foundation" class="s-logo">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="http://www.madworksaccelerator.org/" class="s-logo-words">
					<img src="../img/sponsors/madworks.png" alt="Madworks" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.gener8tor.com/" class="s-logo-words">
					<img src="../img/sponsors/generator.png" alt="Gener8tor" class="s-logo">
				</a>
			</div>
		</div>
	</div>
</section>
