<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 ">
				<div class="linesWordContainer">
					{% include sectionLines.html h="Our Supporters" %}
				</div>
				<h3 style="margin-bottom: 50px;">2017 Sponsors</h3>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-12">
				<a href="https://www.qualcomm.com/" class="s-logo-words">
					<img src="../img/qualcomm.png" alt="Qualcomm" class="s-logo qualcomm-sponsor">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-4">
				<a href="http://universityresearchpark.org/" class="s-logo-words">
					<img src="../img/sponsors/wrp.png" alt="University Research Park" class="s-logo s-logo_medium">
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://www.qbena.com/" class="s-logo-words">
					<img src="../img/sponsors/qbe.svg" alt="QBE" class="s-logo qbe s-logo_medium">
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://www.madworksaccelerator.org/" class="s-logo-words">
					<img src="../img/sponsors/madworks.png" alt="Madworks" class="s-logo s-logo_medium">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="https://www.zendesk.com/" class="s-logo-words">
					<img src="../img/sponsors/zendesk.svg" alt="Zendesk" class="s-logo zendesk">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.engr.wisc.edu/" class="s-logo-words">
					<img src="../img/sponsors/coe.gif" alt="College of Engineering" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.warf.org/" class="s-logo-words">
					<img src="../img/sponsors/warf.jpg" alt="Wisconsin Alumni Research Foundation" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.singlewire.com/" class="s-logo-words">
					<img src="../img/sponsors/singlewire.jpg" alt="Singlewire" class="s-logo">
				</a>
			</div>
		</div>
		<h3 style="margin-bottom: 50px;">2016 Sponsors</h3>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="http://universityresearchpark.org/" class="s-logo-words">
					<img src="../img/sponsors/wrp.png" alt="" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.zendesk.com/" class="s-logo-words">
					<img src="../img/sponsors/zendesk.svg" alt="Zendesk" class="s-logo zendesk">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.madworksaccelerator.org/" class="s-logo-words">
					<img src="../img/sponsors/madworks.png" alt="Madworks" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.engr.wisc.edu/" class="s-logo-words">
					<img src="../img/sponsors/coe.gif" alt="College of Engineering" class="s-logo">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="http://4490.ventures/" class="s-logo-words">
					<img src="../img/sponsors/4490.png" alt="4490" class="s-logo fourfour">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://bus.wisc.edu/centers/weinert" class="s-logo-words">
					<img src="../img/sponsors/weinert.png" alt="Weinert Center for Entrepreneurship" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.wceps.org/" class="s-logo-words">
					<img src="../img/sponsors/wceps.png" alt="WCEPS" class="s-logo" id="wceps">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.gener8tor.com/" class="s-logo-words">
					<img src="../img/sponsors/generator.png" alt="Gener8tor" class="s-logo">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3 col-md-offset-3">
				<a href="http://www.capitalentrepreneurs.com/" class="s-logo-words">
					<img src="../img/sponsors/captial-entrepreneurs.png" alt="Captial Entrepreneurs" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.leewardba.com/" class="s-logo-words">
					<img src="../img/sponsors/leeward.png" alt="Leeward" class="s-logo">
				</a>
			</div>
		</div>
	</div>
</section>
