<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1 ">
			<div class="linesWordContainer">
			{% include sectionLines.html h="Our Supporters" %}
			</div>
			<a href="https://www.qualcomm.com/" target="_blank">
				<img height="100px" src="../img/qualcomm.png" alt="Qualcomm"/>
			</a>
			<br><br><br>
			<h3 style="margin-bottom: 50px;">2016 Sponsors</h3>
		</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="http://universityresearchpark.org/" class="s-logo-words">University Research Park</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.zendesk.com/" class="s-logo-words">Zendesk</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.madworkscoworking.org/" class="s-logo-words">MadWorks Accelerator</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.engr.wisc.edu/" class="s-logo-words">College of Engineering</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="http://4490.ventures/" class="s-logo-words">4490 Ventures</a>
			</div>
			<div class="col-md-3">
				<a href="https://bus.wisc.edu/centers/weinert" class="s-logo-words">Weinert Center for Entrepreneurship</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.wceps.org/" class="s-logo-words">WCEPS</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.gener8tor.com/" class="s-logo-words">Gener8tor</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<a href="http://www.capitalentrepreneurs.com/" class="s-logo-words">Capital Entrepreneurs</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.leewardba.com/" class="s-logo-words">Leeward Business Advisors</a>
			</div>
		</div>
	</div>
</section>
