<div class="row teamPic">
  <div class="col-md-10 col-md-offset-1 " id="teambox">
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/jordan-black-138419a1?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="img/team/jordan.jpg" width="128px" height="128px" alt="Jordan" class="teamPic"></a>
      <p>Jordan Black>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/pub/zack-bahner/9b/46a/b33" target="_blank"><img src="img/team/zack.jpg" width="128px" height="128px" alt="Zack Bahner" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/zmarra/"><img src="img/team/alphonse.jpg" width="128px" height="128px" alt="Alphonse Marra" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://briandennis.io" target="_blank"><img src="img/team/brian.png" width="128px" height="128px" alt="Brian Dennis" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://xiaojunhe.com" target="_blank"><img src="img/team/xiao.jpg" width="128px" height="128px" alt="Xiaojun He" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://www.jakedex.com" target="_blank"><img src="img/team/jake.png" width="128px" height="128px" alt="Jake Dexheimer" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://yulinyang.me/" target="_blank"><img src="img/team/yu-lin.jpg" width="128px" height="128px" alt="Yu-Lin Yang" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/ryan-tierney-30a8b6134" target="_blank"><img src="img/team/ryan.jpg" width="128px" height="128px" alt="Ryan Tierney" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="" target="_blank"><img src="img/team/nathan.jpg" width="128px" height="128px" alt="Nathan Weinshenker" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/hima-bharathi-adusumilli-b20064124" target="_blank"><img src="img/team/hima.jpg" width="128px" height="128px" alt="Hima Bharathi Adusumulli" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/tianyi.jpg" width="128px" height="128px" alt="Tianyi" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/colin.jpg" width="128px" height="128px" alt="Colin" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/briantang.jpg" width="128px" height="128px" alt="Brian Tang" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/scott.jpg" width="128px" height="128px" alt="Scott" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/tyler.jpg" width="128px" height="128px" alt="Tyler" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" target="_blank"><img src="img/team/tanner.jpg" width="128px" height="128px" alt="Tanner" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/maxwell-roitstein-982255121/" target="_blank"><img src="img/team/max.jpg" width="128px" height="128px" alt="Max" class="teamPic"></a>
    </div>
  </div>
</div>
