<div class="row teamPic">
  <div class="col-md-8 col-md-offset-2 " id="teambox">
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/pub/zack-bahner/9b/46a/b33" target="_blank"><img src="img/team/zack.png" width="128px" height="128px" alt="Zack Bahner" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://cadencebambenek.com" target="_blank"><img src="img/team/cadence.png" width="128px" height="128px" alt="Cadence Babanek" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://www.jakedex.com" target="_blank"><img src="img/team/jake.png" width="128px" height="128px" alt="Jake Dexheimer" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://briandennis.io" target="_blank"><img src="img/team/brian.png" width="128px" height="128px" alt="Brian Dennis" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://xiaojunhe.com" target="_blank"><img src="img/team/xiao.png" width="128px" height="128px" alt="Xiaojun He" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/scottcatlin" target="_blank"><img src="img/team/scott.png" width="128px" height="128px" alt="Scott Catlin" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/jtcho3" target="_blank"><img src="img/team/james.png" width="128px" height="128px" alt="James Cho" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://abhayvenkatesh.com" target="_blank"><img src="img/team/abhay.jpg" width="128px" height="128px" alt="Abhay" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/maying-shi-7425aa96" target="_blank"><img src="img/team/matt.jpg" width="128px" height="128px" alt="Matt Shi" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="" target="_blank"><img src="img/team/alex_r.jpg" width="128px" height="128px" alt="Alex Rogers" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://twitter.com/fixitup2" target="_blank"><img src="img/team/mike.png" width="128px" height="128px" alt="Mike Fix" class="teamPic"></a>
    </div>
  </div>
</div>
