<div class="row teamPic">
  <div class="col-md-10 col-md-offset-1 " id="teambox">
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/pub/zack-bahner/9b/46a/b33" target="_blank"><img src="img/team/zack.jpg" width="128px" height="128px" alt="Zack Bahner" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://cadencebambenek.com" target="_blank"><img src="img/team/cadence.jpg" width="128px" height="128px" alt="Cadence Babanek" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href=""><img src="img/team/alphonse.jpg" width="128px" height="128px" alt="Brian Dennis" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/jordan-black-138419a1?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="img/team/jordan.jpg" width="128px" height="128px" alt="Jordan" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://briandennis.io" target="_blank"><img src="img/team/brian.png" width="128px" height="128px" alt="Brian Dennis" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://xiaojunhe.com" target="_blank"><img src="img/team/xiao.jpg" width="128px" height="128px" alt="Xiaojun He" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/scottcatlin" target="_blank"><img src="img/team/scott.png" width="128px" height="128px" alt="Scott Catlin" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/jtcho3" target="_blank"><img src="img/team/james.png" width="128px" height="128px" alt="James Cho" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/maying-shi-7425aa96" target="_blank"><img src="img/team/matt.jpg" width="128px" height="128px" alt="Matt Shi" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://twitter.com/fixitup2" target="_blank"><img src="img/team/mike2.jpg" width="128px" height="128px" alt="Mike Fix" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://www.jakedex.com" target="_blank"><img src="img/team/jake.png" width="128px" height="128px" alt="Jake Dexheimer" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://yulinyang.me/" target="_blank"><img src="img/team/yu-lin.jpg" width="128px" height="128px" alt="Yu-Lin Yang" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="https://www.linkedin.com/in/rakshith-padmanabha-273642118" target="_blank"><img src="img/team/rakshith.jpg" width="128px" height="128px" alt="Rakshith Padmanabha" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="" target="_blank"><img src="img/team/ryan.jpg" width="128px" height="128px" alt="Ryan Tierney" class="teamPic"></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="" target="_blank"><img src="img/team/nathan.jpg" width="128px" height="128px" alt="Nathan Weinshenker" class="teamPic"></a>
    </div>
  </div>
</div>
