body {
    min-height: 500px;
    min-width: 320px;
    background: $color-bg;
    font-family: $font-body;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:visited {
    text-decoration: none;
}

button:active{
  box-shadow: none !important;
}

ul {
  list-style: none;
}

// TODO consider changing
small {
  color: white !important;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-dec{
  text-decoration: none;
  color:currentColor;
}
