/* --- contactus (commented out due to inability to compile this file on live site for some reason--*
// Code for this page is copied onto _team.scss
#contactDesc {
    text-align: center;
}
#contact{
    background-size: cover;
    text-align: center;
  
  }
#contact img.icon {
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 120px;
  }
.contact_title {
    font-size: 1.5em;
    color: skyblue;
  }

input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  --*/