/* --- footer --- */
#footer {
  background: #171D1C;
  color: #444;
  padding: 20px;
  padding-bottom: 7px;
}

#uwLogo {
  height: 40px;
  margin: 5px;
  padding-bottom: 5px;
}

#footer-links {
  font-size: 24px;

  padding: 0;
  list-style: none;

}

#footer-links li {
    margin: 3px;
    color: #555;
    display: inline-block;
  }

#footer-links li:hover {
      color: #333;
}
