/* --- hero -- */
.hero {
  background: $color-bg;
  height: auto;
  padding: 40px 0px;
}

.heroContent {
  // margin-top: 120px;
  width: 100%;
  padding: 0 10px 0 10px;
  z-index: -1;
  clear: both;
  display: table;
  margin: 120px auto 0px auto;
}

.heroText {
  color: white;
  font-family: $font-hero;
  font-size: $size-hero;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.heroSubtext {
  font-family: $font-hero;
  color: white;
  font-weight: 500;
  margin-top: 1px;
}

.heroDesc {
  color: $color-heroDesc;
  font-size: $size-text;
  font-family: $font-heroDesc;

  margin: 40px 0 0 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .heroText b {
    font-size: 1.5em;
  }

  .heroSubtext {
    font-size: 2.5em;
  }
}
