/* nav */
.navbar {
  z-index: 99;
}

#logo {
    margin: 25px auto -25px auto;
    width: 80px;
}

#navLinks {
    display: none;
    margin-top: 5px;
}

#navLinks a {
    margin: 0 15px 0 15px;
    font-weight: 400;
    font-size: 1.45em;
}

#navLinks li {
  display: inline-block;
  vertical-align: middle;
}

.my-dropdown{
  outline: 0 !important;
  border: none !important;
  background: none !important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background: none;
}

.dropdown-navLinks{
    z-index: 10;
    color: #171D1C;
}
.dropdown-menu{
    z-index: 10;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.dropdown-menu li:hover{
    background-color: transparent;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #navLogo {
        position: absolute;
        top: -35%;
        left: 7%;
    }

    #navLinks {
        position: absolute;
        right: 6%;
        display: block;
    }

    #logo {
      margin: 0 auto;
    }
}

/* nav links effect */
.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	text-shadow: none;
	font-weight: 700;
}

.cl-effect-15 a::before {
    position: absolute;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	opacity: 0;
	-webkit-transform: scale(0.975);
	-moz-transform: scale(0.975);
	transform: scale(0.975);
}
