.section-padding {
  padding: 50px 0 50px;
}

.sectionHeader {
  letter-spacing: -1px;
  margin-top: 0;
  font-size: $size-header;
  font-weight: 700;
  display: table-cell;
  padding-left: 15px;
  color: $color-header;
}

.sectionSubheader {
  letter-spacing: -1px;
  font-size: $size-subheader;
  display: table-cell;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 25px;
  color: $color-header;
}

.sectionSerif {
  font-style: italic;
  font-family: $font-serif;
  color: lighten($color-header, 40%);
  font-size: $size-text;
  line-height: 1.6;
}

.sectionText {
  color: $color-header;
  font-size: $size-text;
  line-height: 1.6;
  text-align: left;
}

.sectionLink {
  color: $color-link;
  font-size: $size-text;
  line-height: 1.6;
  text-decoration: none;
}

.sectionLink:hover {
  color: $color-link;
}

.sectionText li {
  margin: 10px 0;
}

.sectionLines {
  display: table-cell;
  vertical-align: middle;
  float: left;
}

.sectionAtn {
  color: $color-bg;
  font-size: $size-text;
  margin-bottom: 35px;
}

.footnotes {
  font-size: $size-footnotes;
}

.rightLine {
  display: none;
  margin-left: -15px;
}

.sponsorBtnLink {
  background: $color-button;
  border-radius: 40px;
  color: white;

  outline: none;
  transition: all 300ms;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.15em;
  margin-top: 25px;
  padding: 17px 32px;
}

.sponsorBtnLink:hover {
  color: white;
  background: $color-button-hover;
}

.sponsorBtnLink:focus {
  color: white;
}

/* --- about --*/
.about {
  background: white;

  .sectionSerif {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.exhibits {
  margin-bottom: 40px;
}


/* --- 2016 --- */
.press-link img {
  max-height: 200px;
}
img.medium {
  margin: 0 auto;
  max-height: 100px;
}

/* --- Winners --- */
.winner img {
  margin: 10px auto;
}

.winner .sectionText {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* --- Media Queries -- */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .sponsorBtnLink {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 375px) {
  .sponsorBtnLink {
    margin-top: 57.5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .sectionHeader {
    font-size: $size-hero;
  }
  .sectionSubheader {
    font-size: 2.25em;
  }

  .rightLine {
    display: block;
  }

  .linesWordContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .sectionLines {
    position: relative;
    top: -3px;
  }
}

@media only screen and (min-width: 653px) {
  .sponsorBtnLink {
    margin-top: 40px;
  }
}

// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px) {

// }
