/* --- prizes ---*/
.prize img {
  width: 80%;
  max-width: 300px;
}

.prize h3 {
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: 700;
  color: #444;
}

.prize h4 {
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
}

.prize p {
  text-align: center;
}
