/* --- sponsors --*/
.light-bg {
  background: #FFF !important;
}

.s-logos {
  display: block;
  margin: 120px auto;
}

.s-logo-words {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

.s-logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.zendesk {
  width: 75%;
}

#sponsors {
  background: #F4F4F4;
}

#sponsors .sectionSerif {
  color: #999;
  margin-bottom: 50px;
}

#madworks {
  margin-top: 40px;
  margin-bottom: 10px;

  max-width: 332.25px;
  max-height: 42px;
}

#capital {
  width: 220px;
  height: 83.5px;
}

.weinert {
  margin-top: 10px;
}

.coe {
  width: 80%;
  max-width: 300px;
}

.fourfour {
  width: 80%;
  max-width: 250px;
}

#wceps {
  margin-bottom: 30px;
  width: 70%;
  max-width: 180px;
}

#zendesk {
  margin-top: 40px;
  width: 70%;
  max-width: 300px;
}

#wrp {
  margin-top: 20px;
  max-width: 300px;
}

#leeward {
  margin-top: 20px;
  max-width: 300px;
}

/* --- join --*/
#join {
    background: #F4F4F4;
}

#sponsor {
    background: #fff;
}
.linesWordContainer {
    display: table;
    margin-bottom: 50px;
}
.linesWordContainer-sm {
  margin: 20px auto;
  display: table;
}
#sponsorApply {
    letter-spacing: -1px;
    color: #444;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
