---
layout: default
title: Competition - Sponsor
text: Sponsor Us
desc: Transcend is run by students for students. And is completely free!
logo: img/logo2017.png
---
<section class="text-center section-padding" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ">
                <p class="sectionText">In the past, competitions have fallen due to an unreliable or often single funding source—something we aim to fix!</p>

<p class="sectionText">Transcend Engineering is an already established student organization which will act as a steady home for this competition. By finding awesome sponsors like yourselves, we will grow the Madison entrepreneurial together with our students in mind (which is Transcends sole mission as an org!).</p>
<br>
<h3 id="sponsorApply">Want to help?</h3>

<p class="sectionText text-center">If you are interested in helping us out by sponsoring the event, please fill out the following form or click the button below to donate.</p>
<a href="https://www.myuwconnect.org/give?id=6AC9759E-47D7-4E64-A276-D6B06F690359&utm_source=uwf_site&utm_medium=online&utm_content=gift%2Bsearch%2Bresults%2Bpage&utm_campaign=Embedded+Links" target="_blank" id="donateBtn" class="btn sponsorBtnLink">Donate to Transcend Madison</a>
<iframe src="https://docs.google.com/forms/d/1eUBxhdN-Q2nyoMWhQnazrY0CfLyhPg04DVg8kC2TySY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

            </div>
        </div>
    </div>
</section>
<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1 ">
			<div class="linesWordContainer">
			{% include sectionLines.html h="Our Supporters" %}
			</div>
			<a href="https://www.qualcomm.com/" target="_blank">
				<img height="100px" src="../img/qualcomm.png" alt="Qualcomm"/>
			</a>
			<br><br><br
		</div>
		</div>
	</div>
</section>
<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 ">
				<div class="linesWordContainer">
					{% include sectionLines.html h="Our Supporters" %}
				</div>
				<h3 style="margin-bottom: 50px;">2017 Sponsors</h3>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-12">
				<a href="https://www.qualcomm.com/" class="s-logo-words">
					<img src="../img/qualcomm.png" alt="Qualcomm" class="s-logo qualcomm-sponsor">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-4">
				<a href="http://universityresearchpark.org/" class="s-logo-words">
					<img src="../img/sponsors/wrp.png" alt="University Research Park" class="s-logo s-logo_medium">
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://www.qbena.com/" class="s-logo-words">
					<img src="../img/sponsors/qbe.svg" alt="QBE" class="s-logo qbe s-logo_medium">
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://www.madworksaccelerator.org/" class="s-logo-words">
					<img src="../img/sponsors/madworks.png" alt="Madworks" class="s-logo s-logo_medium">
				</a>
			</div>
		</div>
		<div class="row s-logos">
			<div class="col-md-3">
				<a href="https://www.zendesk.com/" class="s-logo-words">
					<img src="../img/sponsors/zendesk.svg" alt="Zendesk" class="s-logo zendesk">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.engr.wisc.edu/" class="s-logo-words">
					<img src="../img/sponsors/coe.gif" alt="College of Engineering" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.warf.org/" class="s-logo-words">
					<img src="../img/sponsors/warf.jpg" alt="Wisconsin Alumni Research Foundation" class="s-logo">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.singlewire.com/" class="s-logo-words">
					<img src="../img/sponsors/singlewire.jpg" alt="Singlewire" class="s-logo">
				</a>
			</div>
		</div>
	</div>
</section>
