---
layout: default
title: Competition
text: Transcend Madison
subtext: innovation competition<br><br><div style="font-size:20px">powered by<br><img height="75px" src="../img/qualcomm-white.png" alt="Qualcomm" /></div>
heroExtra: </div>
logo: /img/logo2017.png
---
<section class="text-center section-padding about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="linesWordContainer">
          {% include sectionLines.html h="What is it?" %}
        </div>
        <p class="sectionText">Transcend Madison, created by Transcend Engineering, is UW’s first-ever student-led innovation competition. This event was made with one goal in mind: to bring students all across UW Madison together to demonstrate their novel ideas and creations.
          <br> This is a competition for the <i>doers</i>. We judge heavily on execution: taking the necessary steps to turn your idea from nothing into reality.
          <br>
          <br> <u>Event Details</u>
          <br> <b>What:</b> Transcend Madison 2018, UW's student-run innovation competition
          <br> <b>Where:</b> Wisconsin Institute of Discovery, H.F. DeLuca Forum
          <br> <b>When:</b> April 4<sup>th</sup> and 5<sup>th</sup>
          <br> <b>Time:</b> 9am — 5pm
          <br> <b>Who:</b> Everybody is more than welcome to attend!
          <br>
          <br> <b>Award Ceremony:</b> TBD @ Wisconsin Institute of Discovery
        </p>
        <a href="https://goo.gl/forms/AQBvF9udb55z6NNI2" class="btn sponsorBtnLink">Signup for Transcend Madison 2018</a>
        <div>
        </div>
        <br>
        <br>
        <br>
        <p class="sectionSerif">To learn more about previous competitions, see below. </p>
      </div>

    </div>
  </div>
</section>

<section class="text-center section-padding" id="join">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div class="linesWordContainer">
           {% include sectionLines.html h="2016 Competition" %}
        </div>
        <div class="row img-row">
          <div class="col-sm-6 ">
            <img src="../img/competition/comp_1.JPG" alt="Smart Bike presentation at Transcend Madison" class="img-responsive img-rounded">
          </div>
          <div class="col-sm-6">
            <img src="../img/competition/comp_2.JPG" alt="Transcend Madison opening ceremony" class="img-responsive img-rounded">
          </div>
        </div>
        <br>
        <br>
        <p class="sectionSerif">We'd like to thank our wonderful sponsors, and competitors for making the first ever Transcend Madison competition a huge success!</p>
        <br>
        <p class="sectionText">Startup veteran and self-described serial entrepreneur Matt Younkle gave the opening remarks to kick off first annual Transcend Madison innovation competition. During his undergraduate years at UW-Madison, Younkle developed a TurboTab, an invention to pour beer at three times the standard rate, and competed in UW College of Engineering’s innovation days. While nothing came of his invention immediately, Younkle revived TurboTab a few years later when he had more experience under his belt and turned it into a multi-million dollar idea. Turbotap is now installed in sports stadiums across the country.
          <br>
          <br> In recent years, Matt has focused his attention to redefining what it means to own your music with his enterprise, Murfie. But Younkle emphasized that a great idea isn’t enough. It takes hard work and commitment to bring an idea to life, which is what Transcen Madison was developed to reward. We hope that our participants work doesn’t end with the competition, that this is just the beginning.</p>
        <br>
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Winners" %}
        </div>
        <a href="../winners/" class="sectionLink sectionSerif"> View all winner information</a>
        <br>
        <br>
        <div class="row">

          <div class="col-sm-4">
            <a href="../winners#emonix"><h4 class=" carousel-caption"><small>1<sup>st</sup> Place:</small><br>Emonix - $7,500</h4>
              <img src="../img/competition/winners/2016winners/emonix.JPG" alt="Emonix First Place Team at Transcend Madison" class="img-responsive img-rounded"></a>
          </div>
          <div class="col-sm-4">
            <a href="../winners#metrecycle"><h4 class=" carousel-caption"><small>2<sup>nd</sup> Place:</small><br>Metrecycle - $5,000</h4>
            <img src="../img/competition/winners/2016winners/metrecycle.JPG" alt="Metrecycle Second Place Team at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
          <div class="col-sm-4">
            <a href="../winners#trumpet_toasties"><h4 class=" carousel-caption"><small>3<sup>rd</sup> Place:</small><br>Trumpet Toasties - $2,500</h4>
            <img src="../img/competition/winners/2016winners/ttoasties.JPG" alt="Trumpet Toasties Third Place Team at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
        </div>
        <div class="row" id="">
          <div class="col-sm-4">
            <a href="../winners#stemyng"><h4 class=" carousel-caption"><small>Best Educational Enterprise:</small><br>STEMyng - $2,000</h4>
            <img src="../img/competition/winners/2016winners/STEMyng.JPG" alt="STEMyng Best Educational Prize at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
          <div class="col-sm-4">
            <a href="../winners#mitometer"><h4 class=" carousel-caption"><small>Fan Favorite <em>and</em> Best Prototype:</small><br>Mitometer - $1,000 X 2</h4>
            <img src="../img/competition/winners/2016winners/mitometer.JPG" alt="Mitometer Fan Favorite and Best Prototype at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
          <div class="col-sm-4">
            <a href="../winners#zuntik"><h4 class=" carousel-caption"><small>Best Pitch:</small><br>Zuntik - $1,000</h4>
            <img src="../img/competition/winners/2016winners/zuntik.JPG" alt="Zuntik Best Pitch at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <a href="../winners#weightup"><h4 class=" carousel-caption"><small>Best Business Model:</small><br>WeightUp Solutions - $1,000</h4>
            <img src="../img/competition/winners/2016winners/weight_up.JPG" alt="WeightUp solutions Best Business Model Prize at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
          <div class="col-sm-4">
            <a href="../winners#proj_redist"><h4 class=" carousel-caption"><small>Best Social Enterprise</small><br>Project Redistribute - $1,000</h4>
            <img src="../img/competition/winners/2016winners/proj_redist.JPG" alt="Project Redistribute Best Social Enterprise prize at Transcend Madison" class="img-responsive img-rounded">
            <p class="winner-text"></p></a>
          </div>
        </div>

        <br>
        <br>
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Press" %}
        </div>
        <p class="sectionSerif">Read more about it here!</p>
        <br>
        <br>
        <div class="col-sm-4">
          <a href="https://www.engr.wisc.edu/emonix-metrecycle-win-top-awards-transcend-madison-competition/" class="press-link img-responsive img-rounded"><img src="../img/press/coe.gif" class="img-responsive img-rounded" alt="COE Link"></a>
        </div>
        <div class="col-sm-4">
          <a href="https://medium.com/@WITranscend/student-company-wins-12-500-at-inaugural-transcend-madison-innovation-competition-465f3cb559f4" class="press-link"><img src="../img/press/medium.png" class="medium img-responsive img-rounded" alt="Medium Link"></a>
        </div>
        <div class="col-sm-4">
          <a href="https://bus.wisc.edu/centers/weinert/blog/2016/03/16/transcend-madison-innovation-competition" class="press-link img-responsive img-rounded"><img src="../img/press/wisc-business.png" class="img-responsive img-rounded" alt="School of Business"></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include sponsors.html %}
