---
title: Competition - Prizes
text: Prizes
desc: Annnnnd here's what you're competing for.
height: 380px
---
<!doctype html>
<html class="no-js">

{% include head.html %}

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {% include hero.html text=page.text desc=page.desc height=page.height %}
    
    <section class="text-center section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <p class="sectionSerif">Please contact <a href="mailto:transcenduw@gmail.com">transcenduw@gmail.com</a> with any questions or concerns</p>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4 prize">
                <img src="../img/prizes/first.png" alt="first place trophy" class="">
                <h3>First Place</h3>
                <!--<p class="sectionText">$7,500</p>-->
              </div>
              <div class="col-sm-4 prize">
                <img src="../img/prizes/second.png" alt="second place trophy" class="">
                <h3>Second Place</h3>
                <!--<p class="sectionText">$5,000</p>-->
              </div>
              <div class="col-sm-4 prize">
                <img src="../img/prizes/third.png" alt="third place trophy" class="">
                <h3>Third Place</h3>
                <!--<p class="sectionText">$2,500</p>-->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 prize">
                <img src="../img/prizes/business.png" alt="best business model" class="">
                <h4>Best Business Model</h4>
                <!--<p class="sectionText">$1,000</p>-->
              </div>
              <div class="col-sm-4 prize">
                <img src="../img/prizes/social.png" alt="best social entrepreneurship" class="">
                <h4>Best Social Entrepreneurship</h4>
                <!--<p class="sectionText">$1,000</p>-->
              </div>
              <div class="col-sm-4 prize">
                <img src="../img/prizes/prototype.png" alt="best prototype" class="">
                <h4>Best Prototype</h4>
                <!--<p class="sectionText">$1,000</p>-->
              </div>
              <div class="col-sm-4 col-sm-offset-2 prize">
                <img src="../img/prizes/pitch.png" alt="best pitch" class="">
                <h4>Best Pitch</h4>
                <!--<p class="sectionText">$1,000</p>-->
              </div>
              <div class="col-sm-4 prize">
                <img src="../img/prizes/fanfav.png" alt="fan favorite" class="">
                <h4>Fan Favorite</h4>
                <!--<p class="sectionText">$2,000</p>-->
              </div>
            </div>
        </div>
    </section>
    
    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>