---
layout: default
title: Local Hack Day
text: <img height="250" style="margin-top:-90px" src="https://localhackday.mlh.io/img/logos/hero-logo-white.svg" alt="Local Hack Day" />
desc: UW Madison's Local Hack Day powered by </a><b>Transcend</b> and the <a class="no-dec" href="https://uw-upl.github.io/"><b>UPL</b></a>
logo: img/logo_pink.svg
---
<section class="text-center section-padding" id="join">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <h3 id="sponsorApply">Fill out this form to claim your spot at UW Madison's <a href="https://localhackday.mlh.io/register/?id=madison">Local Hack Day</a></h3>
        <h4 ><em>Where:</em> 1240 Computer Sciences</h4>
        <h4 ><em>When:</em> December 3rd, 9am - 9pm</h4>
        <h4 ><em>Who:</em> 100 UW Madison students</h4>
        <h4 ><em>What:</em> 12 hours of hacking!</h4>
        <!-- <h4><em>RSVP:</em> <a href="https://localhackday.mlh.io/register/?id=madison">HERE</a></h4> -->
        <a href="https://localhackday.mlh.io/register/?id=madison" class="btn sponsorBtnLink">RSVP for Local Hack Day</a></div>
        <!-- {% include typeform.html url="https://transcend1.typeform.com/to/CohatX" %} -->
      </div>
    </div>
  </div>
</section>
<section class="light-bg text-center section-padding" id="sponsors">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1 ">
			<div class="linesWordContainer">
			{% include sectionLines.html h="Our Sponsors" %}
			</div>
		</div>
		</div>
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
				<a href="https://www.optum.com/" class="s-logos">
          <img src="../img/sponsors/optum.png" alt="">
				</a>
			</div>
    </div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<a href="https://www.singlewire.com/" class="s-logos">
          <img src="../img/sponsors/singlewire.jpg" alt="">
        </a>
			</div>
			<div class="col-md-5">
				<a href="http://understoryweather.com" class="s-logos">
          <img src="../img/sponsors/understory.png" alt="">
				</a>
			</div>
    </div>
		</div>
	</div>
</section>

<!-- <script type="text/javascript">
  window.location = "https://localhackday.mlh.io/register/?id=madison"
</script> -->
