---
layout: default
title: Competition - Winners
text: 2017 Winners
desc: Congratulations to those that took home awards from our 2017 competition!
logo: img/logo2017.png
---
<section class="text-center section-padding about" id="about">
  <div class="container">
    <div class="row" id="linectra">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="1<sup>st</sup> Place: Linectra" %}
        </div>
        <img class="img-responive img-rounded" src="../img/competition/winners/linectra.jpG" alt="Linectra at Transcend Madison">
        <p class="sectionText"><bold>Qualcomm Grand Prize $10,000:</bold> Linectra, technology patent pending, has designed an advanced 3D printer to print high-quality, high-quantity metal parts to be used in manufacturing.</p>
      </div>
    </div>
    <div class="row" id="cairoBeverage">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="2<sup>nd</sup> Place: Cairo Beverage" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/cairoBeverage.jpg" alt="Cairo Beverage at Transcend Madison">
        <p class="sectionText"><bold>Second Prize $8,000:</bold> Cairo Beverage’s first beverage line, inspired by Middle-Eastern/Mediterranean tea-based drinks, will is flavorful and refreshing with none of the sugar of traditional soft drinks.</p>
      </div>
    </div>
    <div class="row" id="swopShop">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="3<sup>rd</sup> Place: SwopShop" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/swopshop.jpg" alt="SwopShop at Transcend Madison">
        <p class="sectionText"><bold>Third Prize $5,000:</bold> Mobile app SwopShop gives users a platform to buy, sell and trade belongings in a Tinder-esque swipe format.</p>
      </div>
    </div>
    <div class="row" id="atrilityMedical">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Poster Session: Atrility Medical" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/atrilityMedical.jpg" alt="Atrility Medical at Transcend Madison">
        <p class="sectionText"><bold>Best Poster Session, $2,000:</bold> AtriAmp has developed a compact device to improve healthcare provers’ ability to diagnose and treat post-operative arrhythmias in patients following cardiac surgery.</p>
      </div>
    </div>
    <div class="row" id="pathogenomica">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Prototype: Pathogenomica" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/pathogenomica.jpg" alt="Pathogenomica at Transcend Madison">
        <p class="sectionText"><bold>Best Prototype, sponsored by Zendesk $2,000:</bold> Pathogenomica uses genetic sequencing techniques to drastically cut the time to detection of pathogens in drinking water or foodstuff.</p>
      </div>
    </div>
    <div class="row" id="torridityInstrumentHeatingSolutions.jpg">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Pitch: Torridity Instrument Heating Solutions, LLC" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/torridityInstrumentHeatingSolutions.jpg" alt="Torridity Instrument Heating Solutions, LLC at Transcend Madison">
        <p class="sectionText"><bold>Best Pitch, sponsored by QBE $2,000:</bold> Torridity Instrument Heating Solutions, LLC  uses innovative heating solutions to improve musical instrument performance in cold temperatures.</p>
      </div>
    </div>
    <div class="row" id="u-sit">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Business Model: U-Sit" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/u-sit.jpg" alt="U-Sit at Transcend Madison">
        <p class="sectionText"><bold>Best Business Model $2,000:</bold> U-Sit is a business idea for a website and mobile application to pair parents with area babysitters.</p>
      </div>
    </div>
    <div class="row" id="helpCareConnect">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Social Enterpreneurship: HelpCare Connect" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/helpCareConnect.jpg" alt="HelpCare Connect at Transcend Madison ">
        <p class="sectionText"><bold>Best Social Entrepreneurship, $2,000:</bold> HelpCare Connect is a virtual health application looking to transform highly-burdened individual informal caregivers into connected and informed caregiving teams. </p>
      </div>
    </div>
    <div class="row" id="let'sSublease">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Fan Favorite: Let's Sublease" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/let'sSublease.jpg" alt="Let's Sublease at Transcend Madison">
        <p class="sectionText"><bold>Fan Favorite, sponsored by URP $2,000:</bold> Let’s Sublease is a web platform specializing in aiding students and young adults who often move for new jobs or internships, find and fill their sublease agreements. </p>
      </div>
    </div>
  </div>
</section>
