---
layout: default
title: Competition - Winners
text: 2016 Winners
desc: Congratulations to those that took home awards from our 2016 competition!
logo: img/logo2017.png
---
<section class="text-center section-padding about" id="about">
  <div class="container">
    <div class="row" id="emonix">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="1<sup>st</sup> Place: Linectra" %}
        </div>
        <img class="img-responive img-rounded" src="../img/competition/winners/linectra.jpg" alt="Emonix at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="metrecycle">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="2<sup>nd</sup> Place: Cairo Beverage" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/cairoBeverage.jpg" alt="Metrecycle at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="trumpet_toasties">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="3<sup>rd</sup> Place: SwopShop" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/swopshop.jpg" alt="Trumpet Toasties at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="stemyng">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Poster Session: Atrility Medical" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/atrilityMedical.jpg" alt="STEMyng at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="mitometer">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Prototype: Pathogenomica" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/pathogenomica.jpg" alt="Mitometer at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="zuntik">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Pitch: Torridity Instrument Heating Solutions, LLC" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/torridityInstrumentHeatingSolutions.jpg" alt="Zuntik at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="weightup">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Business Model: U-Sit" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/u-sit.jpg" alt="WeightUp Solutions at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="proj_redist">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Best Social Enterpreneurship: HelpCare Connect" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/helpCareConnect.jpg" alt="Project Redistribute at Transcend Madison ">
        <p class="sectionText"></p>
      </div>
    </div>
    <div class="row" id="mitometer">
      <div class="col-md-8 col-md-offset-2 winner">
        <div class="linesWordContainer-sm">
          {% include sectionLines.html h="Fan Favorite: Let's Sublease" %}
        </div>
        <img class="img-responsive img-rounded" src="../img/competition/winners/let'sSublease.jpg" alt="Mitometer at Transcend Madison">
        <p class="sectionText"></p>
      </div>
    </div>
  </div>
</section>
