---
title: Competition - Winners 
text: 2016 Winners
desc: Congratulations to those that took home awards from our 2016 competition!
height: 380px
---
<!doctype html>
<html class="no-js">

{% include head.html %}

<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% include hero.html text=page.text desc=page.desc height=page.height %}
  <section class="text-center section-padding" id="about">
    <div class="container">
      <div class="row" id="emonix">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">1<sup>st</sup> Place: Emonix</h3>

            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responive img-rounded" src="../img/competition/winners/emonix.JPG" alt="Emonix at Transcend Madison">
          <p class="sectionText">Emonix took home home $7,500 and immediate enrollment into Madworks seed accelerator, an intensive, 10-week program to provide them with the resources, mentorship and $5,000 in capital to take their idea to the next level. Using sensors to moderate the salt applied by water softeners, Emonix cuts the amount of salt dispensed by nearly a quarter, saving in salt, expenses and reducing negative impact on the environment. 
</p>
        </div>
      </div>
      <div class="row" id="metrecycle">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">2<sup>nd</sup> Place: Metrecycle</h3>

            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/metrecycle.JPG" alt="Metrecycle at Transcend Madison">
          <p class="sectionText">Metrecycle took home second place and $5,000. The team aims to empower people in developing countries by creating a sustainable business model for those living in crowded spaces to profit from the proper disposal of e-waste. With the proper funding and infrastructure, the team hopes to send a shipping container outfitted for the disassemblement of electronics to crowded, impoverished spaces.
</p>
        </div>
      </div>
      <div class="row" id="trumpet_toasties">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">3<sup>rd</sup> Place: Trumpet Toasties</h3>

            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/ttoasties.JPG" alt="Trumpet Toasties at Transcend Madison">
          <p class="sectionText">Third-place and $2,5000 went to Trumpet Toasties. When the temperature falls below freezing, the valves in a trumpet freeze. Trumpet Toasties are reusable heating pouches,  they use a mix of sodium and acetate solution to make sure a trumpet player can keep playing, no matter the weather. 
</p>
        </div>
      </div>
      <div class="row" id="stemyng">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">Best Educational Enterprise: STEMyng</h3>

            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/STEMyng.JPG" alt="STEMyng at Transcend Madison">
          <p class="sectionText">For the Best Educational Enterprise, sponsored by WCEPS, STEMyng took home $2,000. STEMyng creates physical products and digital courses to teach kids STEM fundamentals. 
</p>
        </div>
      </div>
      <div class="row" id="mitometer">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">Fan Favorite <em>and</em> Best Prototype: Mitometer</h3>
            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/mitometer.JPG" alt="Mitometer at Transcend Madison">
          <p class="sectionText">Mitometer won $1,000 for both Fan Favorite and Best Prototype. Mitometere developed a pen-shaped device that uses electrodes to scan and measure the level of cancer risk associated with a patch of skin. 
</p>
        </div>
      </div>
      <div class="row" id="zuntik">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">Best Pitch: Zuntik</h3>
            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/zuntik.JPG" alt="Zuntik at Transcend Madison">
          <p class="sectionText">Zuntik won $1,000 for Best Pitch. Zuntik is the only app to be awarded a prize. The mobile application connects with local organizations and businesses in a city to display all of the upcoming local community events.
</p>
        </div>
      </div>
      <div class="row" id="weightup">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">Best Business Model: WeightUp Solutions</h3>
            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/weight_up.JPG" alt="WeightUp Solutions at Transcend Madison">
          <p class="sectionText">WeightUp Solutions won $1,000 for Best Business Model. WeightUp solutions uses wearable technology to track and monitor reps for workouts. The technology records data for both the athlete and coach to reference. 
</p>
        </div>
      </div>
      <div class="row" id="proj_redist">
        <div class="col-md-8 col-md-offset-2 winner">
          <div class="linesWordContainer-sm">
            <svg class="sectionLines" width="60px" height="19px" viewbox="0 0 105 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle id="Oval-32" cx="7.5" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <h3 class="sectionSubheader">Best Social Enterprise: Project Redistribute</h3>
            <svg class="sectionLines rightLine" width="70px" height="19px" viewbox="0 0 125 19" version="1.1">
              <g id="Welcome2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Desktop2" sketch:type="MSArtboardGroup" transform="translate(-121.000000, -1043.000000)" stroke="#06CBF9" stroke-width="3">
                  <g id="two2" sketch:type="MSLayerGroup" transform="translate(0.000000, 983.000000)">
                    <g id="section-lines-copy-2" transform="translate(123.000000, 62.000000)" sketch:type="MSShapeGroup">
                      <path d="M15.5,7.5 L101.746094,7.5" id="Path-112" stroke-linecap="square" stroke-dasharray="14,10" transform="translate(58.500000, 7.500000) scale(-1, 1) translate(-58.500000, -7.500000) "></path>
                      <circle cx="109" cy="7.5" r="7.5"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <img class="img-responsive img-rounded" src="../img/competition/winners/proj_redist.JPG" alt="Project Redistribute at Transcend Madison ">
          <p class="sectionText">Project Redistribute, by the student organization Enactus, won $1,000 for Best Social Enterprise. Project Redistribute aims to salvage the leftover food from community restaurants and cafe and deliver it to different food pantries around Madison.</p>
        </div>
      </div>
      
    </div>
  </section>
  
  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>